* {
    font-family:
        "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color 0.3s ease-out;
}

window#waybar {
    background: transparent;
    color: #ebdbb2;
    font-family:
        SpaceMono Nerd Font,
        feather;
    transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(29, 32, 33, 1);
    margin: 5px 10px 0px;
    padding: 0 5px;
    border-radius: 10px;
}

.modules-left {
    padding: 0;
}

.modules-center {
    padding: 0 10px;
}

#mpris,
#clock,
#tray,
#bluetooth,
#network,
#power-profiles-daemon,
#battery {
    padding: 0 5px;
    border-radius: 10px;
}

#mpris:hover,
#clock:hover,
#tray:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#power-profiles-daemon:hover,
#battery:hover {
    background: rgba(40, 40, 40, 1);
}

#workspaces button {
    background: transparent;
    font-family:
        SpaceMono Nerd Font,
        feather;
    font-weight: 900;
    font-size: 13pt;
    color: #ebdbb2;
    border: none;
    border-radius: 10px;
}
#workspaces button.active {
    background: #32302f;
}
#workspaces button:hover {
    background: #282828;
    color: #fabd2f;
    box-shadow: none;
}

#pulseaudio-slider {
    padding: 0 10px 0 2px;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    border-radius: 10px;
    background-image: none;
    box-shadow: none;
    margin-left: 3px;
    background: #d3869b;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: #282828;
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px 2px 2px 5px;
    background: #d3869b;
}

#pulseaudio {
    padding: 0 0px 0 10px;
    border-radius: 10px;
    color: #d3869b;
}

#bluetooth,
#network {
    color: #83a598;
}

#power-profiles-daemon,
#power-profiles-daemon.performance {
    color: #ea6962;
}
#power-profiles-daemon.balanced {
    color: #d3869b;
}
#power-profiles-daemon.power-saver {
    color: #a9b665;
}

#battery {
    color: #cc241d;
}
